.THIS.slds-modal__container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

.THIS .modal_body_wrap {
    padding: 1.25rem;
}

.THIS .modal_body_wrap:has(.modal-02) {
    height: calc(100vh - 20rem);
    padding: 1.25rem;
}

.THIS .display_none{
    display: none;
}


/* 📱 Responsive Media Query (해상도 ~ 767px) */
@media all and (max-width:767px) {
    .THIS .slds-wrap .slds-size_6-of-12 {
        width: 100%;
    }
    .THIS .modal_body_wrap:has(.modal-02) {
        height: calc(100vh - 12rem); 
    }
    .THIS .modal_body_wrap:has(.modal-02) .slds-input {
        min-width: 100%;
        width: 100% !important;
        line-height: 100% !important;
    }
}