.THIS.slds-card {
  height: auto;
  overflow: hidden;
  background-color: #F3F3F3;
  box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
}

/* Header */

.THIS .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #c9c9c9;
  background-color: #fff;
}

.THIS .header .title {
  display: flex;
  align-items: center;
}

.THIS .header .button-wrap .slds-button {
  padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
  margin-right: 0.25rem;
}

.THIS .header h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

/* Body */

.THIS .body {
  background-color: #F3F3F3;
}

.THIS .body .top-card {
  padding: 1rem 1.25rem;
  margin: 0.75rem;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card Header */

.THIS .card-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:540px) {
  .THIS .card-header {
    flex-direction: column;
  }
}

.THIS .card-header h2 {
  font-weight: 600;
  font-size: 14px;
  color: #444;
}

/* Card 01 */

.THIS .card-01 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.THIS .card-01 .field-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.THIS .card-01 .field-wrap:last-of-type{
  grid-column: span 2;
}

.THIS .card-01 .field-wrap p {
  font-weight: 600;
  width: 5rem;
  margin-bottom: .25rem;
  text-wrap: nowrap;
}

.THIS .card-01 .field-wrap .input-wrap {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.THIS .card-01 .field-wrap .input-wrap .slds-form-element {
  width: 100%;
}

.THIS .card-01 .input-wrap .slds-button+.slds-button {
  margin-left: 0;
}

.THIS .card-01 .input-wrap .slds-form-element__control{
  display: flex;
  gap: 0.5rem;
}

.THIS .input-wrap .slds-combobox_container{
  width: 100%;
}


/* Card 02 */

.THIS .card-02 .table-wrap {
  overflow: auto;
}

.THIS .card-02 .table-wrap .input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.THIS .card-02 .table-wrap .input-wrap .clear-btn {
  position: absolute;
  border: none;
  right: 38px;
}

.THIS .card-02 table td .slds-form-element{
  width: 100%;
}

.THIS .card-02 table td .delete {
  text-align: center;
}

.THIS .card-02 .right-table table td{
  padding: 0.719rem;
}



/* Table Design */

.THIS .body table tr {
  border-bottom: 1px solid #c9c9c9;
}

.THIS .body table th {
  height: 31px;
  background-color: #f3f3f3;
  color: #444;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-wrap: nowrap;
  padding: .25rem 0.75rem;
  border-bottom: 1px solid #D9D9D9;
  text-wrap: nowrap;
}

.THIS .body table tr {
  height: 43px;
}

.THIS .body table td {
  background-color: #fff;
  padding: .25rem 0.75rem;
  line-height: normal;
  color: #444;
  text-wrap: nowrap;
  border-bottom: 1px solid #D9D9D9;
}

.THIS .body table th+th,
.THIS .body table td+td {
  border-left: 1px solid #D9D9D9;
}

.THIS .body table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
  margin-right: 0 !important;
}

.THIS .body table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
  display: none;
}

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
  text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
  text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
  text-align: right !important;
}

/* 📌 Sticky Tables */

.THIS .body .card-02 .table-wrap {
  height: calc(100vh - 27rem);
  overflow-y: auto;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  position: relative;
  display: flex;
}

.THIS .body .card-02 .table-wrap table{
  border-collapse: separate;
  border-spacing: 0;
}

.THIS .body .card-02 .table-wrap table thead {
  position: sticky;
  top: 0px;
  z-index: 1;
}

/* Sticky Tables : Table 01 */

.THIS .body .card-02 .table-01 {
  flex: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  border-right: 1px solid #D9D9D9;
}

@media screen and (max-width: 1440px) {
  .THIS .body .card-02 .table-01 {
      flex: 2;
  }
}

@media screen and (max-width: 980px) {
  .THIS .body .card-02 .table-01 {
      flex: 4;
  }
}

@media screen and (max-width: 740px) {
  .THIS .body .card-02 .table-01 {
      flex: 6;
  }
}

.THIS .body .card-02 .table-01::-webkit-scrollbar {
  background-color: #fff;
  border-top: 1px solid #c9c9c9;
}

.THIS .body .card-02 .table-01 table tr>td:last-child {
  font-size: 13px;
}

/* Sticky Tables : Table 02 */

.THIS .body .card-02 .table-02 {
  flex: 4;
  overflow: scroll;
  table-layout: fixed;
}

/* Main Button */

.THIS .mainBtn {
  background: #0176D3;
  border-color: #0176D3 !important;
  color: #fff;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
  border: 1px solid #C9C9C9;
}

.THIS .slds-button_neutral {
  border: 1px solid #c9c9c9;
}

.THIS .slds-input {
  line-height: 100% !important;
  padding: .25rem 0.5rem !important;
}

/* modal */
.THIS .searchProductModal .card-01 {
  display: flex;
}

.THIS .card-02 .card-header .button-wrap {
  display: flex;
  margin: 0;
}

.THIS .card-02 .card-header .button-wrap>div {
  position: relative;
  margin-left: .25rem;
  margin-right: .25rem;
}

.THIS .excelModal {
  position: absolute;
  top: 150px;
  left: -448px;
}

.THIS .excelModal .slds-modal__container .slds-modal__header {
  box-shadow: 1px -1px 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS .excelModal .slds-modal__container {
  width: 540px;
  max-width: none;
}

.THIS .excelModal .slds-modal__container .slds-modal__content {
  padding: 2rem 1.5rem;
  text-align: center;
  overflow: unset;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS .excelModal .slds-modal__close {
  border: none;
  border-radius: 0.25rem;
  top: 10px;
  right: 8px;
}

.THIS .excelModal .top-card {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}

.THIS .excelModal .txt-box {
  text-align: left;
  margin-bottom: 1rem;
}