.THIS .slds-card {
    height: auto;
    overflow: hidden;
    background-color: #F3F3F3;
}

.THIS table .slds-input[readonly] {
    border: none;
}

/* Header */

.THIS .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}

.THIS .header .button-wrap .slds-button {
    padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
    margin-right: 0.25rem;
}

.THIS .header h2 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

/* Body */

.THIS .body {
    background-color: #F3F3F3;
}

.THIS .body .top-card {
    padding: 1rem 1.25rem;
    margin: 0.75rem;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card 01 */

.THIS .body .card-01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1.25rem 1.75rem;
}

.THIS .body .card-01 .field-wrap.last{
    grid-column-start: 4;
	/* grid-column-end: 3; */
}

.THIS .body .card-01 p {
    font-weight: 600;
    width: 5rem;
    margin-bottom: 0.25rem;
    text-wrap: nowrap;
}

.THIS .body .card-01 .input-wrap {
    display: flex;
    align-items: center;
    gap: 0.55rem;
}

.THIS .body .card-01 .input-wrap .slds-form-element {
    width: 100%;
}

.THIS .body .card-01 .field-wrap .icon-wrap {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.THIS .body .card-01 .icon-wrap .slds-button_icon-x-small {
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid #C9C9C9;
}

.THIS .body .card-01 .icon-wrap .slds-button+.slds-button {
    margin-left: 0 !important;
}

.THIS .body .card-01 .input-wrap .slds-input,
.THIS .body .card-01 .input-wrap .slds-input_faux {
    border: 1px solid #C9C9C9;
    min-width: 5rem;
}

/* Table Design */

.THIS table tr {
    /* w/o .slds-table_bordered */
    border-bottom: 1px solid #c9c9c9;
}

.THIS table th {
    height: 41px;
    background-color: #f3f3f3;
    color: #444;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-wrap: nowrap;
    padding: .5rem 0.75rem;
    border-bottom: 1px solid #D9D9D9;
    text-wrap: nowrap;
}

.THIS table tr:last-of-type td{
    border-bottom: 0 !important;
}



.THIS table td {
    background-color: #fff;
    padding: .25rem 0.75rem;
    line-height: normal;
    color: #444;
    text-wrap: nowrap;
    border-bottom: 1px solid #D9D9D9;
}

.THIS table th+th,
.THIS table td+td {
    border-left: 1px solid #D9D9D9;
}

.THIS table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
    margin-right: 0 !important;
}

.THIS table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: none;
}

/* Table Details */

.THIS .table-02 table th,
.THIS .table-01 table th {
    min-width: fit-content;
    padding: .54rem .75rem;
}


/* 📌 Sticky Tables */

.cDN_POListReview .table-wrap {
    height: calc(100vh - 30rem);
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
}

.THIS .table-wrap table {
    border-collapse: separate;
    border-spacing: 0;
}

.THIS .table-wrap table thead {
    position: sticky;
    top: 0px;
    z-index: 1;
}


/* Sticky : Table 01 */

.THIS .table-01 {
    flex: 2;
    overflow-x: scroll;
    overflow-y: hidden;
    border-right: 1px solid #d9d9d9
}

.THIS .table-01::-webkit-scrollbar {
    background-color: #fff;
    border-top: 1px solid #c9c9c9;
}

.THIS .table-01 table tr>th:last-child {
    border-right: 1px solid #D9D9D9;
}

.THIS .table-01 table tr>td:last-child {
    border-right: 1px solid #D9D9D9;
    font-size: 13px;
}

/* Sticky : Table 02 */

.THIS .table-02 {
    flex: 4;
    overflow: scroll;
}

.THIS .purchase {
    display: flex;
    gap: 0.25rem;
}

.THIS .purchase lightning-input {
    min-width: 9rem;
}

/* Table Align Class */

.THIS .center {
    text-align: center !important;
}

.THIS .left {
    text-align: left !important;
}

.THIS .right {
    text-align: right !important;
}

.THIS .right .slds-input {
    text-align: right !important;
}

/* 🌠 Pagination */

.THIS .pagination-wrap {
    padding: 1.25rem;
    padding-top: 0;
}

.THIS .pagination-wrap .total {
    padding: 0.25rem 0;
    text-align: right;
    margin-bottom: 0.25rem;
}

.THIS .pagination-wrap .pagination {
    display: flex;
    border: 1px solid #C9C9C9;
    border-radius: 0.25rem;
    overflow: hidden;
    margin: auto;
    width: fit-content;
}

.THIS .pagination-wrap .pagination a {
    text-decoration: none;
}

.THIS .pagination-wrap .pagination li+li {
    border-left: 1px solid #C9C9C9;
}

.THIS .pagination-wrap .pagination li:not(.pages) a {
    padding: 0.5rem 0.75rem;
    background-color: #fff;
    color: #706E6B;
    display: inline-block;
    cursor: pointer;
}

.THIS .pagination-wrap .pagination li a:hover {
    background-color: #F3F3F3;
}

.THIS .pagination-wrap .pagination .pages a {
    min-width: 2.25rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    border-left: 1px solid #c9c9c9;
}

.THIS .pagination-wrap .pagination .pages span:first-child a {
    border-left: none;
}

.THIS .pagination-wrap .pagination .pages {
    background-color: #fff;
}

.THIS .pagination-wrap .pagination .pages .here {
    display: inline-block;
    text-align: center;
    min-width: 2.25rem;
    padding: 0.5rem;
    background-color: #0176D3;
    color: #fff;
    cursor: unset;
}
.THIS .pagination-wrap .slds-icon_container{
    pointer-events: none;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
    border: 1px solid #C9C9C9;
}

.THIS .slds-button_icon-border {
    border: 1px solid #c9c9c9 !important;
}

.THIS .slds-button_neutral {
    border: 1px solid #c9c9c9 !important;
}

.THIS .slds-input {
    line-height: 100% !important;
    padding: .25rem 0.5rem !important;
}

/* 📱 Responsive Media Query */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    .THIS .header {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .THIS .header .button-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    .THIS .body .card-01{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .THIS .header .button-wrap .slds-button+.slds-button{
        margin-left: 0;
    }
    .THIS .pagination-wrap .first,
    .THIS .pagination-wrap .last{
        display: none;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .THIS .header {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .THIS .header .button-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
    }
    
    .THIS .header .button-wrap .slds-button+.slds-button{
        margin-left: 0;
    }

    .THIS .body .card-01{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .THIS .pagination-wrap .first,
    .THIS .pagination-wrap .last,
    .THIS .pagination-wrap .pages span:nth-last-of-type(1),
    .THIS .pagination-wrap .pages span:nth-last-of-type(2),
    .THIS .pagination-wrap .pages span:nth-last-of-type(3){
        display: none;
    }

}


/* Modal */
.THIS .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.THIS .check-modal-wrap .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.THIS .check-modal-wrap .modal-body p {
    font-size: 14px;
    font-weight: 600;
}

/* Modal Close */

.THIS .check-modal-wrap .slds-modal__close {
    position: absolute;
    top: -2.25rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
  }
  
  .THIS.check-modal-wrap .slds-modal__close .slds-icon_container:hover {
    opacity: 0.75;
  }
  
  /* 📌 Modal 01 : 엑셀 내려받기 */
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
  }
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body .icon-wrap {
    padding: 1rem;
    border-radius: 50%;
    border: 3px solid #0176D3;
  }
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body .icon-wrap .slds-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: #0176D3;
  }
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body p {
    font-size: 14px;
  }
  
  .THIS.check-modal-wrap .slds-modal__footer {
    display: flex;
    justify-content: space-between;
  }
  .THIS .safe-color {
    background-color: #8AF774 !important;
  }