.THIS.slds-card {
  height: auto;
  overflow: hidden;
  background-color: #F3F3F3;
  box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
}

/* Header */
.THIS .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #c9c9c9;
  background-color: #fff;
}

.THIS .header .title {
  display: flex;
  align-items: center;
}

.THIS .header .button-wrap .slds-button {
padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
margin-right: 0.25rem;
}

.THIS .header h2 {
font-weight: 700;
font-size: 1.25rem;
margin-left: 0.5rem;
}

/* Body */

.THIS .body {
background-color: #F3F3F3;
}

.THIS .body .button-wrap {
display: flex;
justify-content: flex-end;
margin: 0.75rem;
}

.THIS .body .top-card {
padding: 1rem 1.25rem;
margin: 0.75rem;
background-color: #fff;
border: 1px solid #D9D9D9;
border-radius: 0.25rem;
box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card Header */

.THIS .card-header {
margin-bottom: 1rem;
}

.THIS .card-header h2 {
font-weight: 600;
font-size: 14px;
color: #444;
}

/* Card 01 */

.THIS .card-01 {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1rem;
}

.THIS .card-01 .field-wrap {
display: flex;
flex-direction: column;
gap: 0.25rem;
flex: 1;
}

@media screen and (max-width:1400px) {
.THIS .card-01 .field-wrap.date {
  grid-column: 1 / 3;
}
}

@media screen and (max-width:767px) {
  .THIS .card-01 .field-wrap.date {
    grid-column: 1 / 2;
  }
  }

.THIS .card-01 .field-wrap p {
font-weight: 600;
width: 5rem;
margin-bottom: .25rem;
text-wrap: nowrap;
}

.THIS .card-01 .field-wrap .input-wrap {
display: flex;
align-items: center;
gap: .25rem;
}

.THIS .card-01 .field-wrap .input-wrap .slds-form-element {
width: 100%;
}

.THIS .card-01 .field-wrap:last-of-type .input-wrap .slds-form-element {
width: unset;
flex: auto;
}

.THIS .card-01 .input-wrap .slds-button+.slds-button {
margin-left: 0;
}

.THIS .card-01 .input-wrap .slds-checkbox .slds-checkbox__label .slds-form-element__label {
display: none;
}

.THIS .card-01 .input-wrap .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
margin-right: 0;
}

.THIS .card-01 .input-wrap lightning-radio-group .slds-form-element__control {
  display: flex;
  gap: 0.25rem;
}

/* Fake Input */

.THIS .body .card-01 .input-wrap .fakeInput {
width: 100%;
min-height: 2rem;
;
border-radius: 0.25rem;
padding: 0.25rem 0.5rem;
line-height: 100%;
font-size: 13px;
border: 1px solid #c9c9c9;
background-color: #f3f3f3;
text-wrap: nowrap;

display: flex;
align-items: center;
gap: 0.5rem;
}

.THIS .body .card-01 .input-wrap .fakeInput span {
display: inline-block;
font-size: 13px;
color: #444;
}

.THIS .body .card-01 .input-wrap .fakeInput span:last-child {
font-size: 12px;
color: #989898;
}

/* Card 02 */

.THIS .card-02 .table-wrap {
  max-height: calc(100vh - 26rem);
  overflow: auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.THIS .card-02 .table-wrap thead {
  position: sticky;
  top: -1px;
  z-index: 3;
}

.THIS .card-02 .table-wrap tbody td.return-num {
  color: #0E63AC;
  cursor: pointer;
}

.THIS .card-02 .file-wrap {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  column-gap: 0.25rem;
}

.THIS .card-02 .file-wrap .slds-button {
  padding: 0;
  border: none;
}

/* Table Design */

.THIS table tr {
border-bottom: 1px solid #c9c9c9;
}

.THIS table th {
background-color: #f3f3f3;
color: #444;
font-weight: 700;
line-height: normal;
text-align: center;
text-wrap: nowrap;
padding: .25rem 0.75rem;
border-bottom: 1px solid #D9D9D9;
text-wrap: nowrap;
}

.THIS table td {
background-color: #fff;
padding: .25rem 0.75rem;
line-height: normal;
color: #444;
text-wrap: nowrap;
border-bottom: 1px solid #D9D9D9;
}

.THIS table th+th,
.THIS table td+td {
border-left: 1px solid #D9D9D9;
}
.THIS .table-02 table td:last-of-type{
border-right: none;
}

.THIS table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
margin-right: 0 !important;
}

.THIS table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
display: none;
}

/* Readonly Input Border Remover */

.THIS .body table .slds-input[readonly] {
border: none;
}

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
text-align: right !important;
}

/* Main Button */

.THIS .mainBtn {
background: #0176D3;
border-color: #0176D3 !important;
color: #fff;
}

/* SLDS Table datepicker */

.THIS .body .slds-datepicker__month td {
border: none;
background-color: #fff;
padding: .25rem;
font-size: .75rem;
}

.THIS .body .slds-datepicker__month th {
padding: .5rem;
font-weight: 400;
background-color: #fff;
border: none;
}

.THIS .body .slds-datepicker__month tr {
border-bottom: none;
}

/* 📌 Sticky Tables */

.THIS .body .card-02 .table-wrap {
display: flex;
}

/* Sticky : Table 01 */

.THIS .body .card-02 .table-01 {
flex: 2;
border-right: 1px solid #d9d9d9
}

/* Sticky : Table 02 */

.THIS .body .card-02 .table-02 {
flex: 4;
overflow-x: scroll;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
border: 1px solid #C9C9C9;
/* min-width: 12rem; */
}

.THIS .slds-button_icon-border {
border: 1px solid #c9c9c9 !important;
}

.THIS .slds-button_neutral {
border: 1px solid #c9c9c9;
}

.THIS .slds-input {
line-height: 100% !important;
padding: .25rem 0.5rem !important;
}

/* 📱 Responsive Media Query */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
.THIS .card-01 {
  grid-template-columns: 1fr;
  gap: 1rem;
}
}


/* return modal */
/* modal header */
.THIS .button-wrap {
  position: absolute;
  top: 14px;
  right: 12px;
}
/* Modal Close */
.THIS .slds-modal__close {
  position: absolute;
  top: -2.25rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
}

.THIS .slds-modal__close .slds-icon_container:hover {
  opacity: 0.75;
}

.THIS .slds-modal__close svg {
  fill: #fff;
}
/* Modal Body */
.THIS .slds-modal__content:has(iframe) {
  overflow: auto;
  overflow-y: clip;
}
.THIS .slds-modal__container {
  width: 60vw !important;
  max-width: 1240px !important;
}

.THIS .slds-p-around_medium {
  padding: 0;
}

.THIS .modal-body {
  background-color: #F3F3F3;
}

.THIS .modal-body .top-card {
  padding: 1rem 1.25rem;
  margin: 0.75rem;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}