.iframeDiv {
	padding: 0;
}

.docDownload .card {
	position: relative;
	width: 20rem;
	height: 11.25rem;
	border: 1px solid #C9C9C9;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
}

.docDownload .card .preview {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
}

.docDownload .card .info-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F3F3F3;
	padding: 0.5rem 0.75rem;
	gap: 0.25rem;
}

.docDownload .card .info-wrap .file {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	max-width: 90%;
}

.docDownload .card .info-wrap .file .file-name {
	color: #2E2E2E;
	text-overflow: ellipsis;
	overflow: hidden;
}