.THIS .slds-modal__container {
    position: relative;
    padding-bottom: 3rem;
}

.THIS .sidebar-panel {
    position: absolute;
    right: 100%;
    background-color: #f3f3f3;
    width: 20rem;
    height: 43.313rem;
    max-height: calc(100vh - 8.8rem);
    border-radius: 0.25rem 0 0 0.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.THIS .sidebar-panel .panel-header {
    background: #fff;
    padding: 1rem;
    border-bottom: 2px solid #c9c9c9;
    border-right: 1px solid #e5e5e5;
    text-align: center;
}

.THIS .sidebar-panel .panel-body {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.THIS .sidebar-panel .panel-body .card {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.THIS .sidebar-panel .panel-body .card .row {
    display: flex;
    gap: 1rem;
}

.THIS .sidebar-panel .panel-body .card .row .field {
    flex: 1;
}

.THIS .sidebar-panel .panel-body .card .field .label {
    margin-bottom: 0.25rem;
    display: inline-block;
    color: #999;
    font-weight: 500;

}

.THIS .sidebar-panel .panel-body .card .field .double {
    display: flex;
    gap: 1rem;
}

.THIS .sidebar-panel .panel-body .card .field .double .label {
    flex: 1;
}

.THIS .sidebar-panel .panel-body .card .field p {
    word-break: break-all;
}

.THIS .slds-modal__container:has(.sidebar-panel) .slds-modal__header {
    border-radius: 0 0.25rem 0 0;
}

.THIS .slds-modal__container:has(.sidebar-panel) .slds-modal__content {
    border-radius: 0 0 0.25rem 0;
}

.THIS .slds-modal__content {
    position: relative;
    padding: 0;
}

.THIS .slds-form {
    max-height: calc(100vh - 16rem);
    height: 36rem;
    overflow: auto;
    padding: 1rem;
    padding-top: 1.75rem;
}

.THIS .slds-form.blocked {
    overflow: hidden;
}

.THIS .slds-form.blocked .slds-wrap:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
    z-index: 1;
    opacity: 75%;
}

.THIS .blocked .layout-wrap {
    position: relative;
}

.THIS .blocked .layout-wrap .toast {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem;
    background-color: #fddde3;
    border-radius: .25rem;
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: #B60554;
    font-weight: 500;
    min-width: 17rem;
}

.THIS .blocked .layout-wrap .toast .slds-icon {
    fill: #B60554;
    font-weight: 600;
}

.THIS .blocked .layout-wrap .toast .title {
    font-size: 15px;
}

.THIS .slds-modal__content:has(.exampleHolder) {
    overflow: hidden;
}

/* Signal Steps */

.THIS .process-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: .75rem;
    /* margin: .5rem; */
}

.THIS .process-wrap .button-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row-reverse;
}

.THIS .process-wrap .button-group {
    position: relative;
}

.THIS .process-wrap .button-group .slds-button.active {
    background-color: #0176d3;
    color: #fff;
    cursor: unset;
}

.THIS .process-wrap .button-group .slds-button:focus {
    box-shadow: none;
}

.THIS .process-wrap .button-group:before {
    content: 'OD Logic';
    font-size: 12px;
    color: #444;
    position: absolute;
    bottom: calc(100% + 2px);
    left: 2px;
}

.THIS .process-wrap .signal-wrap {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0.5rem;
    margin-top: 0;
}

.THIS .process-wrap .signal-steps {
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: 0.5rem;
    border: 1px solid #c9c9c9;
    border-radius: 0.25rem;
}

.THIS .process-wrap .signal-steps .signal {
    background-color: #c9c9c9;
}

.THIS .process-wrap .signal-steps .signal:nth-of-type(1) {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.THIS .process-wrap .signal-steps .signal:nth-of-type(2) {
    width: 0;
    height: 0;
    border-bottom: calc(0.5rem * 2) solid #c9c9c9;
    border-left: 0.55rem solid transparent;
    border-right: 0.55rem solid transparent;
    background: none;
}

.THIS .process-wrap .signal-steps .signal:nth-of-type(3) {
    width: 1rem;
    height: 1rem;
}

.THIS .process-wrap .signal-steps .signal:nth-of-type(1).on {
    background-color: #FE5C4C;
}

.THIS .process-wrap .signal-steps .signal:nth-of-type(2).on {
    border-bottom: calc(0.5rem* 2) solid #fcc003;
}

.THIS .process-wrap .signal-steps .signal:nth-of-type(3).on {
    background-color: #3BA755;
}

/* Adjust SLDS Styles */

.THIS .slds-form-element__label {
    display: none !important;
}

.THIS .slds-grid {
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.75rem;
}

.THIS .slds-form {
    position: relative;
}

.THIS .slds-p-around_small {
    padding: 0;
}

.THIS .slds-size_6-of-12 {
    width: 48%;
}

.THIS .record-label {
    margin: 3% 0 0 27%;
}

.THIS .exampleHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 98;
}

.THIS .exampleHolder .slds-spinner_container {
    position: sticky !important;
    top: 50%;
    display: flex;
}

.THIS .slds-input[readonly] {
    text-align: center;
    background-color: #E5E5E5;
}

/* Input Highlights */

.THIS .slds-input:has(.highlight) {
    border-radius: 0 0 0.25rem 0.25rem;
}

.THIS .highlight:before {
    /* 빨간색 배경 */
    content: '';
    display: inline-block;
    position: absolute;
    bottom: calc(100% - 3px);
    height: 3px;
    width: 100%;
    z-index: 1;
    background-color: #40cf61;
    border-radius: 1rem 1rem 0 0;
}

.THIS .default:before {
    /* 기본 배경색 (선택되지 않은 항목) */
    content: '';
    position: absolute;
    display: inline-block;
    background-color: white;
    height: 3px;
    width: 100%;
}

/* 2025-04-08 Hyerin Ro */

/* Left Side Panel Tabs */

.THIS .sidebar-panel.isDNSA .tab-wrap {
    background-color: #fff;
    display: flex;
}

.THIS .sidebar-panel.isDNSA .tab-wrap .tab {
    flex: 1;
    /* padding: 0.75rem; */
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    text-align: center;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 500;
    color: #747474;
}

.THIS .sidebar-panel.isDNSA .tab-wrap .tab:hover {
    background-color: #f9f9f9;
}

.THIS .sidebar-panel.isDNSA .tab-wrap .tab.on {
    border-bottom: none;
    color: #0176d3;
}

.THIS .sidebar-panel.isDNSA .tab-wrap .tab.on:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #0176d3;
    display: inline;
}

.THIS .sidebar-panel .panel-body .line {
    width: 100%;
    height: 0.75px;
    margin: -0.25rem;
    background-color: #e4e4e4;
    display: inline-block;
}

/* Confirm Modal */

.THIS.slds-modal.confirm-modal {
    z-index: 9010;
}

.THIS.slds-backdrop.confirm-modal {
    z-index: 9009;
}

.THIS.slds-modal.confirm-modal .slds-modal__content {
    padding: 1rem;
    text-align: center;
    position: relative;
}

.THIS.slds-modal.confirm-modal .content-wrap {
    position: relative;
}