/********** modal **********/

.THIS .slds-modal__container {
   width: 100%;
   margin: 0;
   padding: 0;
   max-width: unset;
   min-width: unset;
}

.THIS .slds-modal__content {
   position: relative;
}

.THIS .modal-body {
   /* display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.25rem;
   flex-direction: column; */
   height: 40rem;
   max-height: calc(100vh - 12rem);
   padding: 0;
   overflow: auto !important;
}

.THIS .modal-body p {
   font-size: 14px;
   font-weight: 1500;
}

.THIS .table-02 table {
   border-collapse: separate;
}

.THIS .table-02 thead {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 3;
}