.THIS.slds-card {
  height: auto;
  overflow: hidden;
  background-color: #F3F3F3;
  box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
}

/* Header */

.THIS .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #c9c9c9;
  background-color: #fff;
}

.THIS .header .title {
  display: flex;
  align-items: center;
}

.THIS .header .button-wrap .slds-button {
  padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
  margin-right: 0.25rem;
}
/* 엑셀 모달 */
/* 엑셀 업로드 모달 */
/* .THIS .excelModal {
  position: absolute;
  top: 120px;
  left: -448px;
  width: 540px;
  max-width: none;
  box-shadow: 1px -1px 3px 0 rgba(0, 0, 0, 0.16);
  top: 10px;
  right: 10px;
  border: none;
  padding: 3rem;
  text-align: center;
  overflow: unset;
  
} */

.THIS .header h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

/* Body */

.THIS .body {
  background-color: #F3F3F3;
}

.THIS .body .top-card {
  padding: 1rem 1.25rem;
  margin: 0.75rem;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}


/* Clear Btn*/
.THIS .clear-btn {
  position: absolute;
  border: none;
  right: 43px;
}

/* Card Header */

.THIS .card-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.THIS .card-header h2 {
  font-weight: 600;
  font-size: 14px;
  color: #444;
}

.THIS .card-header .button-wrap {
  display: flex;
}

.THIS .card-header .button-wrap>div {
  position: relative;
  margin-left: 0.25rem;
}

/* card-body */
.THIS .card-body .input-wrap .slds-form-element {
  width: 100%;
}

.THIS .card-body .input-wrap .slds-button+.slds-button {
  margin-left: 0;
}

.THIS .card-body .table-wrap {
  border: 1px solid #c9c9c9;
  overflow: auto;
  height: calc(100vh - 26rem);
}

.THIS .card-body .table-wrap thead {
  position: sticky;
  top: -1px;
  z-index: 3;
}

.THIS .card-body .table-wrap table td .input-wrap{
  position: relative;
  display: flex;
  gap: 0.25rem;
  width: 100%;
}

.THIS .card-body .table-wrap .search-input {
  width: 100%;
  min-width: 11rem;
}


.THIS .card-body table td .slds-form-element{
  width: 100%;
}

.THIS .card-body table td .delete {
  text-align: center;
}


/* Table Design */

.THIS .body table tr {
  border-bottom: 1px solid #c9c9c9;
}

.THIS .body table th {
  background-color: #f3f3f3;
  color: #444;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-wrap: nowrap;
  padding: .25rem 0.75rem;
  border-bottom: 1px solid #D9D9D9;
  text-wrap: nowrap;
}

.THIS .body table td {
  background-color: #fff;
  padding: .25rem 0.75rem;
  line-height: normal;
  color: #444;
  text-wrap: nowrap;
  border-bottom: 1px solid #D9D9D9;
}

.THIS .body table th+th,
.THIS .body table td+td {
  border-left: 1px solid #D9D9D9;
}

.THIS .body table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
  margin-right: 0 !important;
}

.THIS .body table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
  display: none;
}

/* Readonly Input Border Remover */

.THIS .body table .slds-input[readonly] {
  border: none;
}

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
  text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
  text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
  text-align: right !important;
}


/* Main Button */

.THIS .mainBtn {
  background: #0176D3;
  border-color: #0176D3 !important;
  color: #fff;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
  border: 1px solid #C9C9C9;
}

.THIS .slds-button_neutral {
  border: 1px solid #c9c9c9;
}

.THIS .slds-input {
  line-height: 100% !important;
  padding: .25rem 0.5rem !important;
}

/* excel modal */
.THIS .excelModal {
  position: absolute;
  top: 123px;
  left: -449px;
}

.THIS .excelModal .slds-modal__header {
  position: relative;
  box-shadow: 1px -1px 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS .excelModal .slds-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.THIS .excelModal .slds-modal__container {
  width: 540px;
}

.THIS .excelModal .slds-modal__content {
  box-shadow: 1px 0px 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS .excelModal .slds-modal__content .file-input {
  margin: 1rem;
  text-align: center;
}