/* Layout */

.THIS {
    position: relative;
    height: 100%;
}

.THIS .slds-modal__container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: unset;
    min-width: unset;
}

.THIS .slds-modal__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Common */

.THIS .catecory_section,
.THIS .accessory_table_section,
.THIS .selected_table_section {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.THIS td .slds-grid_align-end {
    justify-content: flex-start;
}

/* Section 01 */

.THIS .catecory_section {
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;

    background-color: #F3F3F3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.THIS .category_combobox {
    flex: 1;
    max-width: 28rem;
    min-width: 16rem;
}

.THIS .category_combobox lightning-combobox {
    padding: 0;
    margin: 0;
}

/* Section 02 */

.THIS .accessory_table_section {
    flex: 1 auto;
    overflow: auto;
    max-height: 30vh;
}

.THIS .accessory_table_section .slds-scrollable_y {
    height: 17rem;
}

.THIS .accessory_table_section .slds-table_header-fixed_container {
    border-radius: 5px;
}

/* Section 03 */

.THIS .down_icon_section {
    text-align: center;
    padding: 0.25rem 0;
}

/* Section 04 */

.THIS .selected_table_section {
    flex: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 38vh;
}

.THIS .selected_table_section .table-wrap {
    overflow: auto;
    flex: auto;
}

.THIS .selected_table_section .table-wrap table {
    border-collapse: separate;
}

.THIS .selected_table_section .table-wrap thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

.THIS .selected_table_section .table-wrap thead th {
    border-bottom: 1px solid #c9c9c9;
    border-top: none;
}

.THIS .selected_table_section .table-wrap tbody tr:first-child td {
    border-top: none;
}

.THIS .selected_table_section table .editable .slds-truncate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.THIS .selected_table_section table .editable:hover {
    background-color: #fff;
}

.THIS .selected_table_section table .editable .button-wrap {
    display: none;
}

.THIS .selected_table_section table .editable:hover .button-wrap {
    display: inline-block;
    cursor: pointer;
}

.THIS .selected_table_section table .editable:after {
    content: '';
}

.THIS .selected_table_section .slds-scrollable_x,
.THIS .selected_table_section .slds-scrollable_y {
    overflow: hidden;
    overflow-y: hidden;
}

.THIS .selected_table_section .section-header {
    background-color: #f3f3f3;
    padding: 0.5rem; 
    display: flex;
    align-items: feComponentTransfer;
    gap: 0.75rem;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #c9c9c9;
}

.THIS .selected_table_section .slds-combobox_container.slds-has-selection .slds-combobox__input-value {
    box-shadow: none;
}

.THIS .selected_table_section .section-header h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
}

.THIS .selected_table_section .table-wrap table {
    table-layout: fixed;
}

.THIS .selected_table_section .slds-popover {
    width: 6rem;
}

/* SLDS */

.THIS .selected_table_section td .slds-combobox_container {
    width: 12rem;
}

.THIS .selected_table_section td .slds-has-error .slds-form-element__help {
    text-wrap: auto;
}

.THIS .selected_table_section td .slds-button_icon-container {
    height: 1.75rem !important;
}

.THIS .selected_table_section td .slds-input {
    min-height: 1.75rem !important;
    line-height: 1.75 !important;
}

/* SLDS Table datepicker */

.THIS .slds-datepicker__month td{
    border: none;
    background-color: #fff;
    padding: .25rem;
    font-size: .75rem;
}
.THIS .slds-datepicker__month th{
    padding: .5rem;
    font-weight: 400;
    background-color: #fff;
    border: none;
}
.THIS .slds-datepicker__month tr{
    border-bottom: none;
}

/* Mobile Media Query */

@media all and (max-width: 479px) {
    .THIS .card-01{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    .THIS .selected_table_section .section-header {
        touch-action: none;
    }
}

/* Section Height Fixing Media Query */

@media all and (max-height: 860px) {
    .THIS .accessory_table_section .slds-scrollable_y {
        height: 11rem;
    }
}

/* Editing */

.THIS .selected_table_section.prev {
    opacity: 0.5;
    margin-top: 1rem;
}