.THIS.slds-card {
    height: auto;
    overflow: hidden;
    background-color: #F3F3F3;
    box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
}

.THIS .scroll-y {
    overflow-y: auto;
    height: 49vh;
}

/* Header */

.THIS .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}

.THIS .header .title {
    display: flex;
    align-items: center;
}

.THIS .header .button-wrap .slds-button {
    padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
    margin-right: 0.25rem;
}

.THIS .header h2 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

/* Body */

.THIS .body {
    background-color: #F3F3F3;
}

.THIS .body .top-card {
    padding: 1rem 1.25rem;
    margin: 0.75rem;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card Header */

.THIS .card-header {
    margin-bottom: 1rem;
}

.THIS .card-header h2 {
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

/* Card 01 */

.THIS .card-01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.THIS .card-01 .field-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}

.THIS .card-01 .field-wrap p {
    font-weight: 600;
    width: 5rem;
    margin-bottom: .25rem;
    text-wrap: nowrap;
}

.THIS .card-01 .field-wrap .input-wrap {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.THIS .card-01 .field-wrap .input-wrap .slds-form-element {
    width: 100%;
}

.THIS .card-01 .input-wrap .slds-button+.slds-button {
    margin-left: 0;
}

/* Card 02 */
.THIS .card-02 .table-wrap {
    overflow: auto;
    height: calc(100vh - 23rem);
}

.THIS .card-02 .table-wrap .file-name span {
    max-width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table Design */

.THIS .body table tr {
    border-bottom: 1px solid #c9c9c9;
}

.THIS .body table th {
    background-color: #f3f3f3;
    color: #444;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-wrap: nowrap;
    padding: .25rem 0.75rem;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    text-wrap: nowrap;
}

.THIS .body table td {
    background-color: #fff;
    padding: .25rem 0.75rem;
    line-height: normal;
    color: #444;
    text-wrap: nowrap;
    border-bottom: 1px solid #D9D9D9;
}

.THIS .body table th+th,
.THIS .body table td+td {
    border-left: 1px solid #D9D9D9;
}

.THIS .body table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
    margin-right: 0 !important;
}

.THIS .body table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: none;
}

/* Readonly Input Border Remover */

.THIS .body table .slds-input[readonly] {
    border: none;
}

/* SLDS Table datepicker */

.THIS .body .slds-datepicker__month td {
    border: none;
    background-color: #fff;
    padding: .25rem;
    font-size: .75rem;
}

.THIS .body .slds-datepicker__month th {
    padding: .5rem;
    font-weight: 400;
    background-color: #fff;
    border: none;
}

.THIS .body .slds-datepicker__month tr {
    border-bottom: none;
}

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
    text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
    text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
    text-align: right !important;
}

/* Main Button */

.THIS .mainBtn {
    background: #0176D3;
    border-color: #0176D3 !important;
    color: #fff;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
    border: 1px solid #C9C9C9;
    /* min-width: 12rem; */
}

.THIS .slds-button_icon-border {
    border: 1px solid #c9c9c9 !important;
}

.THIS .slds-button_neutral {
    border: 1px solid #c9c9c9;
}

.THIS .slds-input {
    line-height: 100% !important;
    padding: .25rem 0.5rem !important;
}

/* 📱 Responsive Media Query */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    .THIS .card-01 {
        grid-template-columns: repeat(2, 1fr);
    }
    .THIS .header {
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .THIS .card-01 {
        grid-template-columns: 1fr;
    }

    .THIS .header {
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }
}

/* Modal Close */

.THIS.check-modal-wrap .slds-modal__close {
    position: absolute;
    top: -2.25rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
  }
  
  .THIS.check-modal-wrap .slds-modal__close .slds-icon_container:hover {
    opacity: 0.75;
  }  

/* 📌 Modal 01 : 엑셀 내려받기 */

.THIS.check-modal-wrap .slds-modal__container .modal-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
  }
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body .icon-wrap {
    padding: 1rem;
    border-radius: 50%;
    border: 3px solid #0176D3;
  }
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body .icon-wrap .slds-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: #0176D3;
  }
  
  .THIS.check-modal-wrap .slds-modal__container .modal-body p {
    font-size: 14px;
  }
  
  .THIS.check-modal-wrap .slds-modal__footer {
    display: flex;
    justify-content: space-between;
  }