/* Head */

.slds-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75rem;
}

.slds-card__header .slds-media_center {
    gap: 0.5rem;
}

.slds-card__header-title {
    font-size: 1rem;
}

/* Body */

.body {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 16rem);
    padding: 0.75rem;
    gap: 0.75rem;
}

/* Card 01 */

.card-01 {
    display: flex;
    gap: 1rem;
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0.25rem;
}

.card-01 .field-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-01 .field-wrap p {
    font-weight: 600;
    width: 5rem;
    margin-bottom: .25rem;
    text-wrap: nowrap;
}

.card-01 .field-wrap .input-wrap {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex: auto;
    min-width: 9rem;
}

.card-01 .button-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Table */

.table-wrap {
    flex: auto;
    overflow: auto;
    color: #444;
    border: 1px solid #c9c9c9;
}

.table-wrap table {
    border-collapse: separate;
    border: none;
}

.table-wrap table thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.table-wrap table thead th {
    border-bottom: 1px solid #c9c9c9;
}

.table-wrap table th {
    text-align: center;
    width: 6%;
    font-weight: 700;
}

.table-wrap table .first-th {
    border-left: 1px solid #c9c9c9
}

.table-wrap table thead tr:first-child th:first-child {
    width: 10%;
}

.table-wrap table td {
    text-align: center;
    border-top: none;
    border-bottom: 1px solid #c9c9c9;
}

.table-wrap > table tbody tr:not(:first-of-type) td:first-of-type {
    border-left: 1px solid #c9c9c9;
}

.table-wrap > table tr:last-of-type td:first-of-type {
    border-bottom: none !important;
}

.table-wrap > table tr:nth-last-of-type(2) td:first-of-type {
    border-left: none;
}

.table-wrap > table tr:last-of-type td {
    border-bottom: none;
}

.table-wrap table tfoot th,
.table-wrap table tfoot td {
    border-top: 1px solid #c9c9c9;
    background-color: #EEF4FF;
}

.table-wrap table tbody td:has(table) {
    padding: 0;
}

.table-wrap table tbody td table {
    border: none;
}

.table-wrap table tbody td:has(table) th {
    border-top: none;
}

.table-wrap table tbody td:has(table) td {
    border-bottom: none;
}

.table-wrap table td table td:first-of-type {
    border-left: none;
}

.intabletd {
    border-left: none !important;
    border-bottom: none !important;
}