.THIS.slds-card {
    height: auto;
    overflow: hidden;
    background-color: #F3F3F3;
    box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
    min-height: 600px;
}

/* Header */

.THIS .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}

.THIS .header .title {
    display: flex;
    align-items: center;
}

.THIS .header .button-wrap {
    display: flex;
    gap: 0.25rem;
}

.THIS .header .button-wrap .slds-button {
    padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
    margin-right: 0.25rem;
}

.THIS .header h2 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

/* Body */

.THIS .body {
    background-color: #F3F3F3;
}

.THIS .body .top-card {
    padding: 1rem 1.25rem;
    margin: 0.75rem;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card Header */

/* .THIS .card-header {
    margin-bottom: 1rem;
} */

.THIS h2 {
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

/* Card 01 */
 
.THIS .card-01 {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    column-gap: 1.5rem;
    row-gap: 1rem;
} 

.THIS .card-01 .field-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}

.THIS .card-01 .field-wrap p {
    font-weight: 600;
    width: 5rem;
    margin-bottom: .25rem;
    text-wrap: nowrap;
} 

.THIS .card-01 .field-wrap .input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: .25rem;
}


.THIS .card-01 .field-wrap .input-wrap .clear-btn .slds-button{
    position: absolute;
    top:0;
    right: 40px;
    border: none;
}

.THIS .input-clear-btn .slds-button {
    border: none;
}

.THIS .card-01 .field-wrap .input-wrap .slds-form-element {
    width: 100%;
}

.THIS .card-01 .input-wrap .slds-button+.slds-button {
    margin-left: 0;
}

/* Card 02 */
/* .THIS .card-02 .table-wrap {
    overflow: auto;
} */

/* Table Design */

.THIS .body table tr {
    border-bottom: 1px solid #c9c9c9;
}

.THIS .body table th {
    background-color: #f3f3f3;
    color: #444;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-wrap: nowrap;
    padding: .25rem 0.75rem;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    text-wrap: nowrap;
}

.THIS .body table td {
    background-color: #fff;
    padding: .25rem 0.75rem;
    line-height: normal;
    color: #444;
    text-wrap: nowrap;
    border-bottom: 1px solid #D9D9D9;
}

.THIS .body table th+th,
.THIS .body table td+td {
    border-left: 1px solid #D9D9D9;
}

.THIS .body table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
    margin-right: 0 !important;
}

.THIS .body table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: none;
}

.THIS .body table tfoot td{
    background-color: #EEF4FF;
    font-weight: 600;
}

.THIS .body table tfoot tr{
    border-top: 2px solid #90A0CA;
}

/* Readonly Input Border Remover */

/* .THIS .body table .slds-input[readonly] {
    border: none;
} */

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
    text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
    text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
    text-align: right !important;
}

/* Main Button */

.THIS .mainBtn {
    background: #0176D3;
    border-color: #0176D3 !important;
    color: #fff;
}

/* SLDS Table datepicker */

.THIS .body .card-01 .slds-datepicker__month td{
    border: none;
    background-color: #fff;
    padding: .25rem;
    font-size: .75rem;
}
.THIS .body .card-01 .slds-datepicker__month th{
    padding: .5rem;
    font-weight: 400;
    background-color: #fff;
    border: none;
}
.THIS .body .card-01 .slds-datepicker__month tr{
    border-bottom: none;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
    border: 1px solid #C9C9C9;
    /* min-width: 12rem; */
}

.THIS .slds-button_neutral {
    border: 1px solid #c9c9c9;
}

.THIS .slds-input {
    padding-left: 0.75rem;
    /* line-height: 100% !important;
    padding: .25rem 0.5rem !important; */
}

/* 📱 Responsive Media Query */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    .THIS .card-01{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .THIS .card-01{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

/* Pagination */

.THIS .pagination-wrap .total {
    padding: 0.25rem 0;
    text-align: right;
    margin-bottom: 0.25rem;
}

.THIS .pagination-wrap .slds-icon_container{
    pointer-events: none;
}

.THIS .pagination-wrap .pagination {
    display: flex;
    border: 1px solid #C9C9C9;
    border-radius: 0.25rem;
    overflow: hidden;
    width: fit-content;
    margin: auto;
    width: fit-content;
}

.THIS .pagination-wrap .pagination a {
    text-decoration: none;
}

.THIS .pagination-wrap .pagination li+li {
    border-left: 1px solid #C9C9C9;
}

.THIS .pagination-wrap .pagination li:not(.pages) a {
    padding: 0.5rem 0.75rem;
    background-color: #fff;
    color: #706E6B;
    display: inline-block;
    cursor: pointer;
}

.THIS .pagination-wrap .pagination li a:hover {
    background-color: #F3F3F3;
}

.THIS .pagination-wrap .pagination .pages a {
    min-width: 2.25rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    border-left: 1px solid #c9c9c9;
}

.THIS .pagination-wrap .pagination .pages span:first-child a {
    border-left: none;
}

.THIS .pagination-wrap .pagination .pages .here {
    display: inline-block;
    text-align: center;
    min-width: 2.25rem;
    padding: 0.5rem;
    background-color: #0176D3;
    color: #fff;
    cursor: unset;
}
.THIS .pagination-wrap .slds-icon_container{
    pointer-events: none;
}
@media print {
    /* .THIS * {
        display: none !important;
    } */

    .THIS * {
        display: none !important;
    }
     
    .THIS .printArea  {
        display: block !important;
        width: 100%;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        page-break-after: always;
    }
    /* 🌟 마지막 페이지 빈 페이지 방지 */
    .THIS .printArea:last-child {
        margin: 0 !important;
        padding: 0 !important;
        page-break-after: avoid !important; /* 빈 페이지 방지 */
    }
    /* 🌟 인쇄 시 필요 없는 UI 요소 숨김 */
    .THIS .no-print {
        display: none !important;
    }


    /* 페이지 설정 */
    @page {
        size: A4 portrait;
        padding: 30px !important;
        margin: 0;
    }

    /* 🌟 전체 화면 숨기기
    .THIS .slds-global-header .slds-page-header .slds-footer
    .forceVisualMessageQueue .branding-actions .search .slds-icon-waffle_container
    .siteforcePrmBody .cHeaderWrapper .cHeaderWrapper--fixed .forceSkipLink
    .cCenterPanel .slds-m-top--x-large .slds-p-horizontal--medium--fixed .wrap
    nav header aside
    {
        display: none !important;
    } */
    /* .THIS .slds-global-header,.slds-page-header,.slds-footer,
        .forceVisualMessageQueue,
        .branding-actions,
        .search,
        .slds-icon-waffle_container,
        .siteforcePrmBody,
        .cHeaderWrapper,
        .cHeaderWrapper--fixed,
        .forceSkipLink,
        .cCenterPanel,
        .slds-m-top--x-large,
        .slds-p-horizontal--medium--fixed,
        .wrap {
            display: none !important;
        } */
    /* nav,header,aside, {
        display: none !important;
    } */
}