.THIS .slds-modal__container {
  width: 54rem;
  max-width: calc(100vw - 8rem);
  min-width: 32rem;
}   

.THIS .slds-modal__content {
  position: relative;
  padding: 0 0.5rem;
  min-height: 12rem;
}

/* Section Body */

.THIS .slds-align_absolute-center {
  display: unset !important;
}

.THIS .section-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.THIS .section-container .col {
  padding: 0.5rem 0.75rem;
  width: 50%;
}

.THIS .section-container .slds-form-element_horizontal .slds-form-element__label {
  max-width: calc(33% - 0.5rem);
}

/* Table Styles */

.THIS .table-wrap {
  padding: 0.25rem 0.5rem;
  width: 100%;
  background: #fff;
}

.THIS .table-wrap table td {
  vertical-align: top;
  padding: 0.25rem 0.5rem;
}

.THIS .table-wrap .slds-table_col-bordered td:first-of-type {
  border-left: none;
}

.THIS .table-wrap .slds-table_cell-buffer tr>th:first-child {
  padding-left: 0.5rem !important;
}

.THIS .table-wrap td .slds-textarea {
  height: 10rem;
}

.THIS .table-wrap table td .slds-dropdown-trigger {
  width: 100%;
}

.THIS .table-wrap table td.add {
  vertical-align: middle;
}