.wrapper {
  padding: 0.5rem;
  background-color: #fff;
}

.wrapper .btn-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.wrapper .table-wrap {
  max-height: 90vh;
  overflow: scroll;
}

.wrapper .table-wrap::-webkit-scrollbar {
  width: 7px;
}

.wrapper .table-wrap::-webkit-scrollbar-track {
  background-color: #f1f3f5;
}

.wrapper .table-wrap::-webkit-scrollbar-thumb {
  background: #8b8b8b;
    border-radius: 10px;
}

.wrapper .contents-wrap {
  display: flex;
  border: 1px solid #868e96;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.wrapper .contents-wrap .check-wrap {
  width: 29px;
  padding: 0.25rem;
  border-right: 1px solid #868e96;
  background-color: #f1f3f5;
}

.wrapper .contents-wrap .field-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0.5rem;
}