.THIS.slds-card {
    height: auto;
    overflow: hidden;
    background-color: #F3F3F3;
    box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
}

/* Header */

.THIS .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}

.THIS .header .title {
    display: flex;
    align-items: center;
}

.THIS .header .button-wrap .slds-button {
    padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
    margin-right: 0.25rem;
}

.THIS .header h2 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

/* Body */

.THIS .body {
    background-color: #F3F3F3;
}

.THIS .body .top-card {
    padding: 1rem 1.25rem;
    margin: 0.75rem;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card Header */

.THIS .card-header {
    margin-bottom: 1rem;
}

.THIS .card-header h2 {
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

/* Card 01 */

.THIS .card-01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.THIS .card-01 .field-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}


.THIS .card-01 .field-wrap p {
    font-weight: 600;
    width: 5rem;
    margin-bottom: .25rem;
    text-wrap: nowrap;
}

.THIS .card-01 .field-wrap .input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.THIS .card-01 .field-wrap .input-wrap .clear-btn {
    position: absolute;
    border: none;
    right: 34px;
}


.THIS .card-01 .field-wrap .input-wrap .slds-form-element {
    width: 100%;
}

.THIS .card-01 .input-wrap .slds-button+.slds-button {
    margin-left: 0;
}

/* Card 02 */

.THIS .card-02 h2{
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
}

.THIS .card-02 .card-body {
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.75rem;
    row-gap: .5rem;
}
@media screen and (max-width: 740px) {
    .THIS .card-02 .card-body {
        grid-template-columns: repeat(2, 1fr);
    }
}

.THIS .card-02 .card-body .field-wrap {
    padding: .5rem 0 .25rem 0;
    border-bottom: 1px solid #d9d9d9;
}


.THIS .card-02 .field-wrap.grid-long {
    grid-column: 1 / 5;
}

@media screen and (max-width: 740px) {
    .THIS .card-02 .field-wrap.grid-long {
        grid-column: 1 / 3;
    }
}

.THIS .card-02 .card-body .field-wrap .input-wrap {
    min-height: 1.5rem;
    padding: .25rem 0;
}

.THIS .card-02 .card-body .field-wrap .input-wrap:has(span) {
    display: flex;
    flex-direction: column;
}

.THIS .card-02 .card-body .field-wrap p {
    font-weight: 600;
    margin-bottom: .25rem;
    text-wrap: nowrap;
}

/* card-03 */
.THIS .card-03-wrap {
    display: flex;
}

.THIS .card-03 {
    width: 50%;
}

@media screen and (max-width:760px) {
    .THIS .card-03-wrap {
        display: block;
    }
    .THIS .card-03 {
        width: 100%;
    }
}


/* card-04 */

.THIS .card-04 table th {
    width: 15%;
    min-width: 120px;
}

.THIS .card-04 table td {
    border-top: 1px solid #d9d9d9;
}

/* Table Design */
.THIS .table-wrap {
    height: 16rem;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
}

.THIS .table-wrap thead {
    position: sticky;
    z-index: 3;
    top: -1px;
}

.THIS .body table tr {
    border-bottom: 1px solid #c9c9c9;
}

.THIS .body table th {
    background-color: #f3f3f3;
    color: #444;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-wrap: nowrap;
    padding: .25rem 0.75rem;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    text-wrap: nowrap;
}

.THIS .body table td {
    background-color: #fff;
    padding: .25rem 0.75rem;
    line-height: normal;
    color: #444;
    text-wrap: nowrap;
    border-bottom: 1px solid #D9D9D9;
}

.THIS .body table th+th,
.THIS .body table td+td {
    border-left: 1px solid #D9D9D9;
}

.THIS .body table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
    margin-right: 0 !important;
}

.THIS .body table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: none;
}

/* 📌 Sticky Tables */

/* .THIS .body .card-03 .table-wrap{
    display: flex;
  } */
  
  /* Sticky : Table 01 */
  
  .THIS .body .card-03 .table-01 {
    flex: 2;
    border-right: 1px solid #d9d9d9
  }
  
  /* Sticky : Table 02 */
  
  .THIS .body .card-03 .table-02{
    flex: 3;
    overflow-x: scroll;
  }

/* Readonly Input Border Remover */

.THIS .body table .slds-input[readonly] {
    border: none;
}

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
    text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
    text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
    text-align: right !important;
}

/* Main Button */

.THIS .mainBtn {
    background: #0176D3;
    border-color: #0176D3 !important;
    color: #fff;
}

/* SLDS Table datepicker */

.THIS .body .slds-datepicker__month td{
    border: none;
    background-color: #fff;
    padding: .25rem;
    font-size: .75rem;
}
.THIS .body .slds-datepicker__month th{
    padding: .5rem;
    font-weight: 400;
    background-color: #fff;
    border: none;
}
.THIS .body .slds-datepicker__month tr{
    border-bottom: none;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
    border: 1px solid #C9C9C9;
    /* min-width: 12rem; */
}

.THIS .slds-button_neutral {
    border: 1px solid #c9c9c9;
}

.THIS .slds-input {
    line-height: 100% !important;
    padding: .25rem 0.5rem !important;
}

/* 📱 Responsive Media Query */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  .THIS .card-01{
    grid-template-columns: 1fr;
  }
}