.checklist_table_wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
}
.checklist_table_wrapper table {
    width: 100%;
    min-width: 480px;
    border-collapse: collapse;
}
.checklist_table_wrapper th, .checklist_table_wrapper td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
}
.checklist_table_wrapper th {
    background-color: #F3F3F3;
    text-align: center;
}

.checklist_table_wrapper .button_style{
    display: flex;
    justify-content: center;
    padding: var(--lwc-spacingXSmall, 0.5rem) 0;
    width: 100%;
    min-width: 480px;
    background: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackground, rgb(243, 243, 243)));
    border: 1px solid #ddd;
}