.THIS.slds-modal__container {
    width: 100%;
    max-width: none;
    padding: 0;
    max-height: calc(100vh - 20rem);
}

.THIS .slds-modal__content {
    max-height: none;
    height: fit-content;
    padding: 1rem;
}

.THIS .slds-textarea {
    height: 9rem;
}

.THIS .modal-body .text {
    font-size: 15px;
}

/* Modal Close */

.THIS .slds-modal__close {
    position: absolute;
    top: -2.25rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
}

.THIS .footer-container {
    display: flex;
    justify-content: space-between;
}

.THIS .pContainer {
    font-size: 11px;
}