.THIS.slds-card {
  height: auto;
  background-color: #F3F3F3;
  box-shadow: 0 2px 4px 0 rgb(82 82 82 / 20%);
}

/* Header */

.THIS .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #c9c9c9;
  background-color: #fff;
}

.THIS .header .title {
  display: flex;
  align-items: center;
}

.THIS .header .button-wrap .slds-button {
  padding: 0 0.75rem;
}

.THIS .header .button-wrap .slds-button__icon_left {
  margin-right: 0.25rem;
}

.THIS .header h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

/* Body */

.THIS .body {
  background-color: #F3F3F3;
}

.THIS .body .top-card {
  padding: 1rem 1.25rem;
  margin: 0.75rem;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgb(82 82 82 / 10%);
}

/* Card Header */

.THIS .card-header {
  margin-bottom: 1rem;
}

.THIS .card-header h2 {
  font-weight: 600;
  font-size: 14px;
  color: #444;
}

/* Card 01 */

.THIS .card-01 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.THIS .card-01 .field-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.THIS .card-01 .field-wrap p {
  font-weight: 600;
  width: 5rem;
  margin-bottom: .25rem;
  text-wrap: nowrap;
}

.THIS .card-01 .field-wrap .input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.THIS .card-01 .field-wrap .input-wrap .clear-btn {
  position: absolute;
  border: none;
  right: 34px;
}

.THIS .card-01 .field-wrap .input-wrap .slds-form-element {
  width: 100%;
}

.THIS .card-01 .input-wrap .slds-button+.slds-button {
  margin-left: 0;
}

.THIS .card-01 .input-wrap .customerName{
  text-wrap: nowrap;
  margin-left: 0.5rem;
}

/* Fake Input */

.THIS .body .card-01 .input-wrap .fakeInput{
  width: 100%;
  min-height: 2rem;;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  line-height: 100%;
  font-size: 13px;
  border: 1px solid #c9c9c9;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.THIS .body .card-01 .input-wrap .fakeInput span{
  display: inline-block;
  font-size: 13px;
  color: #444;
}
.THIS .body .card-01 .input-wrap .fakeInput span:last-child{
  font-size: 12px;
  color: #989898;
}

/* Card 02 */
.THIS .card-02 .table-wrap {
  overflow: auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.THIS .body .card-02 .table-02 .order-num {
  color: #0E63AC;
  cursor: pointer;
  text-decoration: underline;
}
.THIS .body .card-02 .order-num.visited {
  color: #5b3586;
}

/* Table Design */

.THIS .body table tr {
  border-bottom: 1px solid #c9c9c9;
}

.THIS .body table th {
  background-color: #f3f3f3;
  color: #444;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-wrap: nowrap;
  padding: .25rem 0.75rem;
  border-bottom: 1px solid #D9D9D9;
  text-wrap: nowrap;
}

.THIS .body table td {
  background-color: #fff;
  padding: .25rem 0.75rem;
  line-height: normal;
  color: #444;
  text-wrap: nowrap;
  border-bottom: 1px solid #D9D9D9;
}

.THIS .body table th+th,
.THIS .body table td+td {
  border-left: 1px solid #D9D9D9;
}

.THIS .body table .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
  margin-right: 0 !important;
}

.THIS .body table .slds-checkbox .slds-checkbox__label .slds-form-element__label {
  display: none;
}

/* 📌 Sticky Tables */

.THIS .body .card-02 .table-wrap {
  height: calc(100vh - 33rem);
  overflow-y: auto;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  position: relative;
  display: flex;
}

.THIS .body .card-02 .table-wrap table {
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid #c9c9c9;
}

.THIS .body .card-02 .table-wrap table thead {
  position: sticky;
  top: 0px;
  z-index: 3;
}

/* Table 01 */
.THIS .body .card-02 .table-01 {
  flex: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  border-right: 1px solid #D9D9D9;
}

@media screen and (max-width:767px) {
  .THIS .body .card-02 .table-01 {
    flex: 3;
    border-right: 1px solid #D9D9D9;
  }
}

.THIS .body .card-02 tbody tr {
  height: 29px;
}

.THIS .body .card-02 .table-01::-webkit-scrollbar {
  /* background-color: #fff;
  border-top: 1px solid #c9c9c9; */
}

.THIS .body .card-02 .table-01 table tr>th:last-child {
  /* border-right: 1px solid #D9D9D9; */
}

.THIS .body .card-02 .table-01 table tr>td:last-child {
  /* border-right: 1px solid #D9D9D9; */
  /* font-size: 13px; */
}

.THIS .body .card-02 .table-02 {
  flex: 3;
  overflow: scroll;
  table-layout: fixed;
}

.THIS .body .card-02 .table-02 td.reception-detail {
  min-width: 140px; 
  max-width:250px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Readonly Input Border Remover */

.THIS .body table .slds-input[readonly] {
  border: none;
}

/* Table Class */

.THIS .center,
.THIS .center .slds-input {
  text-align: center !important;
}

.THIS .left,
.THIS .left .slds-input {
  text-align: left !important;
}

.THIS .right,
.THIS .right .slds-input {
  text-align: right !important;
}

/* SLDS Table datepicker */

.THIS .body .slds-datepicker__month td {
  border: none;
  background-color: #fff;
  padding: .25rem;
  font-size: .75rem;
}

.THIS .body .slds-datepicker__month th {
  padding: .5rem;
  font-weight: 400;
  background-color: #fff;
  border: none;
}

.THIS .body .slds-datepicker__month tr {
  border-bottom: none;
}

/* SLDS Custom */

.THIS .slds-input,
.THIS .slds-input_faux {
  border: 1px solid #C9C9C9;
/* min-width: 12rem; */
}

.THIS .slds-button_neutral {
  border: 1px solid #c9c9c9;
}

.THIS .slds-input {
  line-height: 100% !important;
  padding: .25rem 0.5rem !important;
}

/* 📱 Responsive Media Query */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  .THIS .card-01{
      grid-template-columns: 1fr;
      gap: 0.5rem;
  }
}